# Backend Environment Configuration
# Copy this file to .env and update values

# Server Configuration
PORT=5000
NODE_ENV=development


# Database Configuration
DATABASE_URL=mysql://root:Tsdsddfsdfsfsfdfsa/railway

# Frontend Configuration
FRONTEND_URL=https://amazon-clone-seven-self.vercel.app/

# API Configuration
API_PREFIX=/api
